{% extends "base.html" %}

{% block title %}About Us | FlavorFlow{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/aboutus.css">
<div class="about-us">
    <img src="/static/images/1.png">
    <h1>ABOUT US</h1>
</div>
<div class="info">
    <div class="small">
        <h1>Our Passion for Flavor</h1>
        <p>At FlavorFlow, we believe every meal should be an experience. 
            Our team is dedicated to exploring unique recipes, bringing together diverse ingredients, 
            and creating flavors that delight your senses. We don’t just cook—we craft memories.</p>
    </div>
    <div class="big">
        <h1>Innovation in Every Recipe</h1>
        <p>From classic favorites to modern culinary twists, FlavorFlow thrives on experimentation. 
            Our platform combines creativity with science, ensuring each recipe is easy to follow while delivering 
            extraordinary taste.</p>
    </div>
    <div class="small">
        <h1>Connecting Food Lovers</h1>
        <p>FlavorFlow isn’t just about recipes—it’s a community. We bring together food enthusiasts, 
            home cooks, and flavor explorers to share ideas, learn, and inspire one another to create 
            the perfect dish every time.</p>
    </div>
</div>
<div class="ab-body">
    <img src="static/images/5.png">
</div>
<div class="info">
    <div>
        <h1>Why FlavorFlow?</h1>
        <p>FlavorFlow is more than a recipe hub—it’s your culinary companion. 
            We guide you through the journey of cooking, from simple weeknight dinners to elaborate gourmet creations. 
            With easy-to-follow instructions, thoughtful tips, and a focus on quality, we make cooking approachable, 
            exciting, and fun. Whether you’re a beginner or a seasoned chef, FlavorFlow empowers you to explore, experiment, 
            and enjoy the art of flavor like never before.</p>
    </div>
    <div>
        <img src="static/images/6.jpeg">
    </div>
</div>

{% endblock %}