<header class="header">
    <div class="parallax">
        <div class="navbar">
            <a href="/admin-dashboard"><img src="/static/images/logo.png" /></a>
            <p style="padding-left: 25rem; padding-top: 15px; font-size: 25px; margin-right:125px;">RECIPES
                FLOWING AT YOUR FINGERTIPS</p>
            <ul class="account">
                <li><a href="/ad-profile"><i class="fi fi-rr-user-pen"></i></a></li>
                <li>
                    <a href="/" class="logout-btn">
                        <i class="fi fi-rc-leave"></i>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="navbar">
            <ul style="gap: 22rem;">
                <li><a href="/admin-dashboard" class="redirect"><i class="fi fi-rr-house-chimney-heart"></i>DASHBOARD</a>
                </li>
                <li><a href="/user-manage" class="redirect"><i class="fi fi-rr-magic-wand"></i>USER MANAGEMENT</a></li>
                <li><a href="/ingredient-manage" class="redirect"><i class="fi fi-rr-progress-upload"></i>INGREDIENT MANAGEMENT</a></li>
            </ul>
        </nav>
    </div>
</header>
<script>
    // Get the current path (e.g., "/index", "/aboutus", etc.)
    const currentPath = window.location.pathname;

    // Select all nav links
    const navLinks = document.querySelectorAll('.navbar a.redirect');

    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/logout.js"></script>