{% extends "pages/ad-base.html" %}

{% block title %}Profile | FlavorFlow{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">

<!-- MAIN PROFILE CARD -->
<main class="main">

    <div class="profile-card">

        <!-- Profile Top -->
        <div class="profile-top">
            <img src="profile.jpg" class="profile-image">
            <h1 class="profile-name">Alex Thompson</h1>
            <p class="member-date">Member since October 2023</p>
        </div>

        <!-- Stats -->
        <div class="profile-stats">
            <div class="stat-box">
                <h2>24</h2>
                <p>Added Ingredients</p>
            </div>
            <div class="stat-box">
                <h2>128</h2>
                <p>Saved Recipes</p>
            </div>
            <!--<div class="stat-box">
                <h2>1.2k</h2>
                <p>Followers</p>
            </div>-->
        </div>

        <!-- User Info -->
        
        <form class="profile-info">
            <label>Full Name</label>
            <input type="text" value="Alex Thompson" required>

            <label>Email Address</label>
            <input type="email" value="alex.thompson@example.com" required>

            <!--<label>Short Bio</label>
            <textarea rows="5" placeholder="Write your message here..."></textarea>-->
            
            <label>Password</label>
            <input type="password" placeholder="PASSWORD" required>
            <input type="password" placeholder="CONFIRM PASSWORD" required>

            <button type="submit">SAVE</button>
        </form>

        <div class="deactivate">
            <button class="deactivate-btn">Delete Account</button>
        </div>

    </div>

</main>
{% endblock %}