{% extends "pages/ad-base.html" %}

{% block title %}FlavorFlow - My Cookbook Gallery{% endblock %}

{% block content %}

<head>
    <title>FlavorFlow Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/ad.css">
</head>

<body>

    <main style="padding: 20px 30px;">
        <!-- Top Actions 
        <div class="top-actions">
            <button class="btn-primary">Export Report</button>
            <button>Notifications</button>
        </div> -->

        <!-- Metrics Cards -->
        <div class="card-container">
            <div class="card">
                <div class="card-title">Total Users</div>
                <div class="card-value">12,482</div>
            </div>
            <div class="card">
                <div class="card-title">Total Recipes</div>
                <div class="card-value">4,892</div>
            </div>
            <div class="card">
                <div class="card-title">Ingredients</div>
                <div class="card-value">850</div>
            </div>
            <div class="card">
                <div class="card-title">Top Recipe</div>
                <div class="card-value">Tiramisu Fusion</div>
            </div>
        </div>

        <!-- Chart Area -->
        <div class="chart-box">
            <div class="chart-title">Engagement Activity</div>
            <p> canvas or SVG </p>
        </div>

        <!-- Popular Ingredients -->
        <div class="ingredient-list">
            <h3 style="margin-bottom:15px;">Popular Pantry</h3>
            <div class="ingredient-item">
                <span>Tomato</span>
                <span>+4%</span>
            </div>
            <div class="ingredient-item">
                <span>Onion</span>
                <span>+2%</span>
            </div>
            <div class="ingredient-item">
                <span>Garlic</span>
                <span>0%</span>
            </div>
            <div class="ingredient-item">
                <span>Basil</span>
                <span>-1%</span>
            </div>
            <div class="ingredient-item">
                <span>Lemon</span>
                <span>+8%</span>
            </div>
        </div>

    </main>

</body>

{% endblock %}