{% extends "base.html" %}

{% block title %}Generate Recipe | FlavorFlow{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/contactus.css">
<div class="contact">
    <div class="desc">
        <h1>contact us</h1>
        <p>We’d love to hear from you!<br>Whether you have a question, 
            feedback, or a suggestion to improve FlavorFlow, feel free to reach out. 
            Your thoughts help us make the experience better for everyone.
            <br>Your feedback helps us cook up better experiences.</p>
    </div>
    <div class="c-form">
        <h1>Join us in our journey!</h1>
        <form class="sign-input">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Username">
            <input type="tel" placeholder="Phone Number">
        </form>
    </div>

</div>
{% endblock %}