{% extends "base.html" %}

{% block title %}Profile | FlavorFlow{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">

<!-- MAIN PROFILE CARD -->
<main class="main">

    <div class="profile-card">

        <!-- Profile Top -->
        <div class="profile-top">
            <img src="profile.jpg" class="profile-image">
            <h1 class="profile-name">{{ user.name }}</h1>
            <p class="member-date">Member since {{ user.created_at.strftime('%B %Y') }}</p>
        </div>

        <!-- Stats -->
        <div class="profile-stats">
            <div class="stat-box">
                <h2>24</h2>
                <p>Shared Recipes</p>
            </div>
            <div class="stat-box">
                <h2>128</h2>
                <p>Saved Recipes</p>
            </div>
            <!--<div class="stat-box">
                <h2>1.2k</h2>
                <p>Followers</p>
            </div>-->
        </div>

        <!-- User Info -->
        {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
        {% endif %}

        <form class="profile-info" method="POST" action="/upd-profile">
            <label>Full Name</label>
            <input type="text" name="name" value="{{ user.name }}" required>

            <label>Username</label>
            <input type="text" name="username" value="{{ user.username }}" required>

            <label>Email Address</label>
            <input type="email" name="email" value="{{ user.email }}" required>

            <label>Phone Number</label>
            <input type="tel" name="phonenumber" value="{{ user.phonenumber }}" required>

            <label>Date of birth</label>
            <input type="date" name="dob" value="{{ user.dob }}" required>

            <label>Current Password</label>
            <div class="password-box">
                <input type="password" id="currentPassword" name="current_password"
                    placeholder="Enter current password">
                <span class="toggle-password" onclick="togglePassword('currentPassword')"><span
                        class="material-symbols-outlined">
                        visibility
                    </span></span>
            </div>

            <label>New Password</label>
            <div class="password-box">
                <input type="password" id="newPassword" name="password" placeholder="Enter new password">
                <span class="toggle-password" onclick="togglePassword('newPassword')"><span
                        class="material-symbols-outlined">
                        visibility
                    </span></span>
            </div>

            <label>Confirm Password</label>
            <div class="password-box">
                <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm new password">
                <span class="toggle-password" onclick="togglePassword('confirmPassword')"><span
                        class="material-symbols-outlined">
                        visibility
                    </span></span>
            </div>

            <button type="submit">SAVE</button>
        </form>


        <div class="deactivate">
            <button class="deactivate-btn">Delete Account</button>
        </div>

    </div>

</main>

<script>
    function togglePassword(id) {
        const field = document.getElementById(id);

        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }
</script>
{% endblock %}