{% extends "base.html" %}

{% block title %}Profile | FlavorFlow{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">

<!-- MAIN PROFILE CARD -->
<main class="main">

    <div class="profile-card">

        <!-- Profile Top -->
        <div class="profile-top">
            <img src="profile.jpg" class="profile-image">
            <h1 class="profile-name">{{ user.name }}</h1>
            <p class="member-date">Member since {{ user.created_at.strftime('%B %Y') }}</p>
        </div>

        <!-- Stats -->
        <div class="profile-stats">
            <div class="stat-box">
                <h2>24</h2>
                <p>Shared Recipes</p>
            </div>
            <div class="stat-box">
                <h2>128</h2>
                <p>Saved Recipes</p>
            </div>
            <!--<div class="stat-box">
                <h2>1.2k</h2>
                <p>Followers</p>
            </div>-->
        </div>

        <!-- User Info -->

        <form class="profile-info" method="POST" action="/update-profile">
            <label>Full Name</label>
            <input type="text" name="name" value="{{ user.name }}" required>

            <label>Username</label>
            <input type="text" name="username" value="{{ user.username }}" required>

            <label>Email Address</label>
            <input type="email" name="email" value="{{ user.email }}" required>

            <label>Phone Number</label>
            <input type="tel" name="phonenumber" value="{{ user.phonenumber }}" required>

            <label>Date of birth</label>
            <input type="date" name="dob" value="{{ user.dob }}" required>

            <label>Password</label>
            <input type="password" name="password" value="{{ user.password }}">
            <input type="password" name="password" placeholder="NEW PASSWORD">

            <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD">

            <button type="submit">SAVE</button>
        </form>


        <div class="deactivate">
            <button class="deactivate-btn">Delete Account</button>
        </div>

    </div>

</main>
{% endblock %}