{% extends "base.html" %}

{% block title %}Share Recipe | FlavorFlow{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/sr.css">

<body>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="hero-text">
            <h1>Your Kitchen</h1>
            <h2>Your Art</h2>
        </div>
    </section>


    <!-- MAIN FORM -->
    <main class="main">
        <div class="form-card">

            <h3 class="form-heading">Share Your Recipes</h3>

            <form class="form-grid" action="/add-recipe" method="post" enctype="multipart/form-data">

                <!-- LEFT SIDE -->
                <div class="form-left">

                    <label>Recipe Name</label>
                    <input type="text" name="title" required>

                    <label>Time</label>
                    <input type="text" name="cook_time" min="1" required>

                    <label>Difficulty Level</label>
                    <div class="radio-group">
                        <label><input type="radio" name="difficulty" value="Easy">Easy</label>
                        <label><input type="radio" name="difficulty" value="Intermediate"> Intermediate</label>
                        <label><input type="radio" name="difficulty" value="Hard"> Hard</label>
                    </div>

                    <label>Description</label>
                    <textarea name="description" rows="6" required></textarea>

                    <button class="submit-btn" type="submit">SHARE NOW</button>
                </div>

                <!-- RIGHT SIDE -->
                <div class="form-right">
                    <div class="upload-box">
                        <label>Upload Image</label>
                        <label class="file-icon">
                            <i class="fi fi-rr-images"><input type="file" name="image" accept="image/*" required></i>
                        </label>
                        <p>Only JPG, PNG and JPEG are supported</p>
                    </div>
                    <div class="upload-box">
                        <label>Upload File</label>
                        <label class="file-icon">
                            <i class="fi fi-rr-cloud-upload-alt"><input type="file" name="file" required></i>
                        </label>
                        <p>Only JPG, PNG, JPEG and PDF are supported</p>
                    </div>
                </div>

            </form>

        </div>
    </main>
</body>

</html>


{% endblock %}