{% extends "base.html" %}

{% block title %}Share Recipe | FlavorFlow{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/sr.css">
<div class="sr-reci">
    <img src="/static/images/3.jpg">
    <h1>YOUR KITCHEN</h1>
    <h2> YOUR ART</h2>
</div>
<div class="re-form">
    <h2>SHARE YOUR RECIPES</h2>
    <form class="upload" action="/add-recipe" method="post" enctype="multipart/form-data">
        <div class="details">
            <div class="up-txt">
                <label>Recipe Title</label>
                <input type="text" name="title" required>

                <label>Cooking Time (minutes)</label>
                <input type="number" name="cook_time" min="1" required>

                <fieldset class="radio-group">
					<legend class="radio-title">Difficulty</legend>
					<label><input type="radio" name="difficulty" value="Easy">Easy</label> 
					<label><input type="radio"name="difficulty" value="Medium"> Medium</label> 
					<label><input type="radio" name="difficulty" value="Hard"> Hard</label>
				</fieldset>
                <label>Description</label>
                <textarea name="description" rows="4" required></textarea>
            </div>
            <div class="up-file">
                <label>Upload Image</label>
                <input type="file" name="image" accept="image/*" required>

                <label>Upload File</label>
                <input type="file" name="file" required>
            </div>
        </div>
        <button type="submit">UPLOAD</button>

    </form>
</div>

{% endblock %}