/* FOOTER */
.footer-logo img {
    height: 100px;
    width: 100px;
    margin-left: 40px;
}

.footer-logo label {
    font-size: 30px;
}

.footer-logo p {
    font-size: 10px;
}

.footer {
    background: linear-gradient(135deg, #fdf6ec, #d1fae5); /* beige → white → soft green */
    color: #064e3b;
    padding: 80px 20px 20px;
    border-top: 1px solid #eee;
}

body.dark .footer {
    background: #1e1e1e;
}

.footer-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-grid h4 {
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer-grid a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #064e3b;
}

body.dark .footer-grid a {
    color: #94a377;
}

body.dark .footer-grid {
    color: #94a377;
}

.footer-grid a:hover {
    color: #10b981;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: gray;
}

.dark-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #94a377;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.dark-toggle:hover {
    transform: scale(1.1);
}