.gr-reci {
    width: 100vw;
    height: 600px;
}

.gr-reci img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.gr-reci h1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 36rem;
    left: 23%;
    padding: 10px 20px;
    font-size: 5rem;
    font-family: didot, serif;
}