/* Header*/

.header {
	position: sticky;
    background: white;
    top: 0;
    z-index: 100;
}

body.dark .navbar {
    background: #1e1e1e;
    color: white;
}

body.dark .navbar a {
	color: #94a377;
}

.navbar{
	top: 10px;
    text-align: center;
    align-items: center;
	left: 0;
	right: 0;
	color: black;
	display: flex;
    bottom: 0;
}

.navbar ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	color: black;
	font-size: 18px;
}

.navbar a img {
    width: 100px;
	height: 100px;
    margin-left: 25px;
}

.logo a img {
	width: 40px;
	height: 40px;
}

a{
	color: black;
	text-decoration: none;
}

.navbar a{
	text-align: center;
	align-items: center;
	color: #3C3C2E;
	text-decoration: none;
}

.navbar a:hover {
	color: #D9822B;
}

body.dark .navbar a:hover {
	color: #D9822B;
}

.redirect {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-size: 20px; 
    font-weight: 500;
}

a.active{
    color: #D9822B;
    border-bottom-width: 2px;
    border-color: #D9822B;
    padding-bottom: 0.5rem;
}

body.dark a.active{
    color: #D9822B;
    border-bottom-width: 2px;
    border-color: #D9822B;
    padding-bottom: 0.5rem;
}

.account {
    margin-left: 11.5rem;
    gap: 30px;
}

.account i{
    font-size: 30px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    padding: 2rem 1rem;
    padding: 0;
}

.sidebar-header h1 {
    font-family: 'Newsreader', serif;
    font-size: 1.5rem;
    color: #064e3b;
    margin-bottom: 0.25rem;
}

.sidebar-header p {
    font-size: 0.7rem;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sidebar-links {
    list-style: none;
    margin-top: 2rem;
    flex: 1;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 24rem;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    transition: all 0.3s ease;
    gap: 10px;
    font-size: 18px;
}

.sidebar-links a.active,
.sidebar-links a:hover {
    background-color: #064e3b;
    color: #fff;
}

.sidebar-links span {
    margin-right: 0.5rem;
}

.log-btn {
    padding: 0.75rem 1rem;
    margin-left: 10px;
    margin-top: auto;
    background-color: #064e3b;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 230px;
    text-align: center;
}