.container {
  position: relative;
  background-image: url("/static/images/2.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(239, 238, 238, 0.706); /* adjust opacity here */
  z-index: 0;
}

.container > * {
  position: relative;
  z-index: 1;
}

.auth {
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    width: 60em;
    height: 35em;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.login-img img{
    width: 40rem;
    height: 45rem;
}

.register-img img{
    padding-top: 50px;
    width: 34rem;
    height: 25rem;
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
}

#login {
    border-radius: 50px 0 0 50px;
    align-items: center;
    text-align: center;
    color: white;
}   

.log-input {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.log-input input {
    padding: 15px;
    border-radius: 50px;
    background-color: #EDE7D1;
    border: none;
    width: 290px;
    height: 20px;
    font-size: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.log-input button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #D9822B;
    border: none;
    color: white;
    font-size: 15px;
}

#left-panel,
#right-panel {
    width: 50%;
    position: relative;
}

#login, #ff-left, #ff-right, #signup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#login, #signup {
    background-color: #8E9B6A;
}

#ff-right, #ff-left{
    background-color: #EDE7D1;
    font-size: 18px;
}

#signup {
    border-radius: 0 50px 50px 0;
    align-items: center;
    text-align: center;
    color: white;
} 

.sign-input {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.sign-input input {
    padding: 12px;
    border-radius: 50px;
    background-color: #EDE7D1;
    border: none;
    width: 290px;
    height: 20px;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.sign-input button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #D9822B;
    border: none;
    color: white;
    font-size: 15px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.name {
    gap: 10px;
}

.name h1{
    font-size: 40px;
    color: #3C3C2E;
    margin: 20px 0px;
}

.name p{
    font-size: 12px;
    color: #3C3C2E;
    margin: 5px 0px;
}

/*slidee*/
/* Container */
#left-panel,
#right-panel {
    position: relative;
    width: 50%;
    overflow: hidden;
}

/* Slide wrapper */
#left-panel .panel-content,
#right-panel .panel-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Initial positions */
#login { 
    transform: translateX(0);
}

#ff-left {
    transform: translateX(-100%); 
}

#ff-right { 
    transform: translateX(0); 
}

#signup { 
    transform: translateX(100%); 
}

/* Signup mode */
.auth.signup-mode #login {      /* slide right */
    transform: translateX(100%); 
}  

.auth.signup-mode #ff-left {    /* slide in from left */
    transform: translateX(0); 
}     

.auth.signup-mode #ff-right {   /* slide left and hide */
    transform: translateX(-100%); 
}   

.auth.signup-mode #signup {     /* slide in from right */
    transform: translateX(0); 
}         

/* Header*/

.header {
	position: relative;
	
}

.navbar{
	top: 10px;
    text-align: center;
    align-items: center;
	left: 0;
	right: 0;
	color: black;
	display: flex;
    bottom: 0;
}

.navbar ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	color: black;
	font-size: 18px;
}

.navbar a img {
    width: 100px;
	height: 100px;
    margin-left: 25px;
}

.logo a img {
	width: 40px;
	height: 40px;
}

a{
	color: black;
	text-decoration: none;
}

.navbar a{
	text-align: center;
	align-items: center;
	color: #3C3C2E;
	text-decoration: none;
}

.navbar a:hover {
	color: #D9822B;
}

.redirect {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-size: 20px; 
    font-weight: 500;
}

.account {
    margin-left: 11.5rem;
    gap: 30px;
}

.account i{
    font-size: 30px;
}

/*header*/


.parallax {
	align-items: center;	/* Center items vertically*/
	justify-content: center;	/*Center items horizontally*/
	color: black;
}

body {
    margin: 0px;
}

/*home page*/

.home {
    background-image: url("/static/images/index.jpg");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100vw;
	height: 100vh;
}

.home h1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 30rem;
    left: 28%;
    padding: 10px 20px;
    font-size: 4rem;
}

.home a {
    position: absolute;
	max-width: 40%;
	text-align: center;
	background-color: white;
	opacity: 0.7;
    top: 250px;
    border-radius: 50px;
    left: 30%;
    transform: translate(75%, 580%);
    color: black;
    padding: 30px;
    font-size: 30px;
}


.home a:hover {
    color: #e79b50;
}

.recipes {
    height: 100vh;
    width: 100vw;
    margin: 100px;
    justify-content: center;
    border-radius: 30px;

}

.card {
    display: flex;
    gap: 20px;
    background-color: #EDE7D1;
    height: 220px;
    width: 80%;
    margin: 100px;
    justify-content: center;
    border-radius: 30px;

}

.card img {
    width: 300px;
    height: 220px;
    object-fit: fit;
    overflow: hidden;
    border-radius: 30px;
}



/*About Us*/

.about-us{
    height: 500px;
    background-size: cover;
    overflow: hidden;
}

.about-us img{
    opacity: 0.6;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.about-us h1 {
    position: absolute;
    color: rgb(23, 25, 23);
    text-align: center;
    top: 20rem;
    left: 38%;
    padding: 10px 20px;
    font-size: 4rem;
}