<header class="header">
    <div class="parallax">
        <div class="navbar">
            <a href="/index"><img src="/static/images/logo.png" /></a>
            <p style="padding-left: 25rem; padding-top: 15px; font-size: 25px; margin-right:82px;">RECIPES
                FLOWING AT YOUR FINGERTIPS</p>
            <ul class="account">
                <li><a href="/cookbook"><i class="fi fi-rr-recipe-book"></i></a></li>
                <li><a href="/profile"><i class="fi fi-rr-user-pen"></i></a></li>
                <li>
                    <a href="/" class="logout-btn">
                        <i class="fi fi-rc-leave"></i>
                    </a>
                </li>

                </li>
            </ul>
        </div>
        <nav class="navbar">
            <ul style="gap: 10rem;">
                <li><a href="/index" class="redirect"><i class="fi fi-rr-house-chimney-heart"></i>HOME</a>
                </li>
                <li><a href="/generate-recipe" class="redirect"><i class="fi fi-rr-magic-wand"></i>GENERATE
                        RECIPE</a></li>
                <li><a href="/share-recipe" class="redirect"><i class="fi fi-rr-progress-upload"></i>SHARE
                        RECIPE</a></li>
                
                <li><a href="/aboutus" class="redirect"><i class="fi fi-rr-info"></i>ABOUT US</a></li>
                <li><a href="/contactus" class="redirect"><i class="fi fi-rr-customer-service"></i>CONTACT US</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<script>
    // Get the current path (e.g., "/index", "/aboutus", etc.)
    const currentPath = window.location.pathname;

    // Select all nav links
    const navLinks = document.querySelectorAll('.navbar a.redirect');

    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        }
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/logout.js"></script>